/* 
    Created on : 11/01/2022, 18:25:33
    Author     : Gabriel Inácio <gabrielinacio@id.uff.br>
*/

.col {
    margin-bottom: 3%;
}

.isdown-round {
    border-radius: 5px;
    overflow: hidden;
}

.isdown-card:hover {
    cursor: pointer;
}

.isdown-image-div {
    margin: 2rem auto;
    display: inline-block;
}

.isdown-frame-div {
    width: 250px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.isdown-frame-div img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.isdown-default-div{
    padding: 0;
    display: block;
    transition: 0.75s;
    text-align: center;
}

.isdown-down-content-div {
    width: 100%;
    text-align: center;
}

.isdown-down-content-div p {
    margin: 1rem 0;
    font-size: 16pt;
}

.isdown-default-div div {
    display: block;
}

.isdown-normal-div{
    background-color: green;
    color: white;
}

.isdown-warning-div{
    background-color: yellow;
    color: black;
}

.isdown-danger-div{
    background-color: orange;
    color: white;
}

.isdown-down-div{
    background-color: red;
    color: white;
}

.isdown-none-div{
    background-color: white;
    color: black;
}

.isdown-failed-div{
    background-color: black;
    color: white;
}

.isdown-chart-div {
    height: 500px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 0 0 5px 5px;
}

.isdown-service-normal-div{
    border-color: green;
}

.isdown-service-warning-div{
    border-color: yellow;
}

.isdown-service-danger-div{
    border-color: orange;
}

.isdown-service-down-div{
    border-color: red;
}

.isdown-service-none-div{
    border-color: white;
}

.isdown-service-failed-div{
    border-color: black;
}